@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Dana;
  src: url(./Assets//Fonts/Dana-FaNum-Medium.ttf);
}
body {
  font-family: Dana;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hidescroll::-webkit-scrollbar {
  display: none;
}

.shadow-bottom {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.527), transparent 80%)
    bottom;
  background-size: 100% 11.71875vw;
  background-repeat: no-repeat;
}

table {
  border-collapse: separate;
  border-spacing: 0 0.78125vw;
}

td:first-child {
  border-top-right-radius: 0.78125vw;
  border-bottom-right-radius: 0.78125vw;
}

td:last-child {
  border-top-left-radius: 0.78125vw;
  border-bottom-left-radius: 0.78125vw;
}
progress::-webkit-progress-bar {
  background-color: #f2f2f2;
  border-radius: 2vw;
}
progress {
  background-color: #f2f2f2;
  border-radius: 2vw;
  overflow: hidden;
}

progress::-moz-progress-bar {
  background-color: #f2f2f2;
  border-radius: 2vw;
}

progress::-webkit-progress-value {
  border-bottom-right-radius: 2vw;
  border-top-right-radius: 2vw;
}
progress::-webkit-progress-value {
  transform: scaleX(1);
  transform-origin: bottom;
  transition: all 2s ease;
}

.progressfirstcolor::-webkit-progress-value {
  background-color: #00af63;
}

.progresssecondcolor::-webkit-progress-value {
  background-color: #038b79;
}
.progressthirdcolor::-webkit-progress-value {
  background-color: #f58634;
}
.progressforthcolor::-webkit-progress-value {
  background-color: #ffcc29;
}
