@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Dana;
  src: url(./Assets//Fonts/Dana-FaNum-Medium.ttf);
}
body {
  font-family: Dana;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
